In [2]:
import pandas as pd
import numpy as np

In [12]:

with open("C:/Users/Nabdelsalam/OneDrive - Afreximbank/digital solutions/commo/Commodity.out", 'r') as r, open('C:/Users/Nabdelsalam/OneDrive - Afreximbank/digital solutions/commo/file.txt.txt', 'w') as o:
    for line in r:
        #strip() function
        if line.strip():
            o.write(line)
commodoties = open("C:/Users/Nabdelsalam/OneDrive - Afreximbank/digital solutions/commo/file.txt.txt", "r")
#print("New text file:\n",f.read())

temp=[]
fin=[]
for x in commodoties:
    temp.append(x)
# print(temp)

for j in temp:
    field=j.split()
    code= field[0]
    # print(code)
    if code=="CO1" or code == 'XAU' or code =='LMCODY' or code =='LA1' or	code =='HG1' or code =='LMZSDS03' or code =='CC1' or	code =='DF1' or 	code =='CT1'	or code == 'SB1'	or code =='W' or	code =='C' or	code == 'KO1' or	code == 'NG1':
            fin.append(j)
# print(fin[0])            
# print(len(fin))
arrs=[]
for x in fin:
     arr= x.split('|')
     arrs.append(arr)

# labels=['codes','date','price',"ran"]
df= pd.DataFrame(np.row_stack(arrs))
df=df.drop(df.iloc[:, 3:], axis=1)
df.set_axis(['code','date','price'], axis='columns', inplace=True)
# df=df.columns = []
# df.head()

In [20]:
sheet= df.pivot_table(index='date', columns='code')
sheet.set_axis(['corn','cocoa','cotton','coffee','copper','palm oil','ali','cobalt','zinc','sugar','wheat','gold'], axis='columns', inplace=True)
sheet = sheet.replace(np.nan, None)
sheet.index = pd.to_datetime(sheet.index, format = '%d-%b-%y').strftime('%Y-%m-%d')
sheet.head(30)

,corn,cocoa,cotton,coffee,copper,palm oil,ali,cobalt,zinc,sugar,wheat,gold
date,,,,,,,,,,,,
2002-04-01,203.5,1504.0,38.41,None,76.45,1140.0,None,None,None,5.77,285.25,303.35
2003-04-01,239.5,1951.0,57.72,None,72.45,1435.0,1340.0,None,784.0,7.6,283.0,334.95
2004-04-01,325.75,1517.0,61.53,None,137.1,1995.0,1732.25,None,1138.0,6.25,410.5,425.9
2005-04-01,212.75,1571.0,52.8,None,148.45,1426.0,1939.5,None,1347.0,8.52,322.5,426.25
2008-04-01,584.0,2282.0,70.45,2208.0,380.65,3170.0,2919.5,None,2320.0,11.52,895.0,882.7
2009-04-01,396.0,2618.0,46.15,1533.0,184.9,2166.0,1352.75,None,1312.0,12.73,525.5,927.4
2010-04-01,344.5,2990.0,81.5,1356.0,358.4,2594.0,2327.9,None,2403.0,16.7,454.75,1126.78
2011-04-01,736.0,3011.0,195.55,2421.0,425.85,3393.0,2607.0,36750.0,2390.0,27.44,759.5,1428.73
2013-04-01,642.25,2184.0,87.39,None,337.45,2315.0,None,None,None,17.69,664.0,1599.52
2014-04-01,507.5,2943.0,92.07,2024.0,303.45,2689.0,1761.0,30573.0,1968.0,17.18,685.25,1278.95
2015-04-01,381.75,2748.0,62.58,1750.0,274.85,2142.0,1779.25,26448.0,2103.0,12.32,528.5,1203.98
2016-04-01,354.0,2881.0,59.2,1485.0,216.3,2717.0,1524.25,22603.0,1872.0,15.18,475.75,1222.6
2019-04-01,361.75,2327.0,77.36,1418.0,292.45,2009.0,1883.0,30000.0,2933.0,12.67,462.75,1287.72
2020-04-01,334.75,2227.0,48.41,1171.0,217.45,2493.0,1473.0,29560.0,1870.5,10.04,550.25,1591.51
2021-04-01,559.75,2392.0,77.95,1325.0,399.05,4151.0,2209.25,50104.0,2774.5,14.71,611.0,1729.31
2022-04-01,735.0,2599.0,134.55,2139.0,468.85,6363.0,3439.75,81838.0,4339.0,19.37,984.5,1925.68
1996-04-01,416.5,1308.0,84.78,None,114.55,1214.0,None,None,1076.0,11.55,511.5,394.9
1997-04-01,313.0,1512.0,71.7,None,111.65,1264.0,None,None,1309.0,11.0,393.75,351.95
1998-04-01,254.5,1626.0,67.46,None,76.7,2244.0,1395.33,None,1095.0,9.95,314.5,299.35
1999-04-01,222.0,1161.0,59.85,None,62.85,1595.0,1220.0,None,1000.5,5.59,276.75,280.45
2000-08-01,179.75,821.0,59.01,None,87.35,1018.0,1550.5,None,1170.0,10.35,245.0,277.35
2001-08-01,215.25,937.0,41.28,None,68.75,1262.0,1414.0,None,863.0,7.91,274.5,267.55
2002-08-01,249.25,1745.0,47.26,None,68.5,1506.0,1301.0,None,771.0,5.81,334.75,304.65
2003-08-01,206.75,1465.0,56.35,None,81.85,1363.0,1481.0,None,865.5,7.24,351.0,346.15
2005-08-01,231.75,1482.0,50.7,None,166.3,1357.0,1854.25,None,1283.0,9.96,330.5,432.2
2006-08-01,240.5,1487.0,54.73,None,359.3,1625.0,2496.75,None,3405.0,14.9,392.5,646.85
2007-08-01,319.0,1917.0,62.25,None,358.5,2675.0,2687.0,None,3520.0,10.28,636.0,666.9
2008-08-01,565.0,2996.0,69.31,2337.0,357.85,2956.0,2893.7,None,1840.0,14.13,794.0,910.95
2011-08-01,681.25,2955.0,105.59,2102.0,441.0,3141.0,2563.75,35625.0,2461.0,28.97,676.5,1619.38
2012-08-01,800.5,2401.0,70.06,2212.0,337.5,2922.0,1833.25,30015.0,1822.0,22.56,879.5,1599.58

In [21]:
# sheet.to_csv('file_name.csv', index=True)
sheet.to_excel("output.xlsx")